Repository swsnu/swppfall2022-team7, pull requests merged in 2022-11, with the labels that each got.

#8 Add path-alias, scss, directory config and header layout
  frontend/sprint/.eslintrc.js
  frontend/sprint/craco.config.js
  frontend/sprint/package.json
  frontend/sprint/public/index.html
  frontend/sprint/src/App.css
  frontend/sprint/src/App.test.tsx
  frontend/sprint/src/App.tsx
  frontend/sprint/src/components/Header.tsx
  frontend/sprint/src/index.css
  frontend/sprint/src/index.tsx
  frontend/sprint/src/layouts/Layout.tsx
  frontend/sprint/src/logo.svg
  frontend/sprint/src/pages/Home.tsx
  frontend/sprint/src/routes/routerconfig.tsx
  frontend/sprint/src/scss/Header.scss
  frontend/sprint/src/scss/Root.scss
  frontend/sprint/src/services/api.test.ts
  frontend/sprint/src/services/api.ts
  frontend/sprint/tsconfig.json
  frontend/sprint/tsconfig.paths.json
  frontend/sprint/yarn.lock
Labels: frontend

#23 Create dummy main page structure
  frontend/sprint/src/components/MyTasks.tsx
  frontend/sprint/src/components/ProjectCard.tsx
  frontend/sprint/src/layouts/Layout.tsx
  frontend/sprint/src/pages/Home.tsx
  frontend/sprint/src/scss/Home.scss
  frontend/sprint/src/scss/ProjectCard.scss
  frontend/sprint/src/scss/Root.scss
Labels: frontend

#34 Create New Project Page
  frontend/sprint/src/components/AutoOption.test.tsx
  frontend/sprint/src/components/AutoOption.tsx
  frontend/sprint/src/components/Header.test.tsx
  frontend/sprint/src/components/Header.tsx
  frontend/sprint/src/components/MyTasks.tsx
  frontend/sprint/src/components/Notification.test.tsx
  frontend/sprint/src/components/Notification.tsx
  frontend/sprint/src/pages/Home.test.tsx
  frontend/sprint/src/pages/Home.tsx
  frontend/sprint/src/pages/NewProject.test.tsx
  frontend/sprint/src/pages/NewProject.tsx
  frontend/sprint/src/routes/routerconfig.tsx
  frontend/sprint/src/scss/AutoOption.scss
  frontend/sprint/src/scss/NewProject.scss
  frontend/sprint/src/scss/Notification.scss
  frontend/sprint/src/scss/Root.scss
Labels: frontend

#40 Create ProjectMain layout, implement TaskDetail and ProjectIntro page
  frontend/sprint/package.json
  frontend/sprint/src/components/MemberCard.tsx
  frontend/sprint/src/components/TaskCard.tsx
  frontend/sprint/src/layouts/ProjectMain.test.tsx
  frontend/sprint/src/layouts/ProjectMain.tsx
  frontend/sprint/src/pages/ProjectIntro.test.tsx
  frontend/sprint/src/pages/ProjectIntro.tsx
  frontend/sprint/src/pages/TaskDetail.test.tsx
  frontend/sprint/src/pages/TaskDetail.tsx
  frontend/sprint/src/routes/routerconfig.tsx
  frontend/sprint/src/scss/Layout.scss
  frontend/sprint/src/scss/MemberCard.scss
  frontend/sprint/src/scss/ProjectIntro.scss
  frontend/sprint/src/scss/ProjectMain.scss
  frontend/sprint/src/scss/Root.scss
  frontend/sprint/src/scss/TaskCard.scss
  frontend/sprint/src/scss/TaskDetail.scss
  frontend/sprint/yarn.lock
Labels: frontend

#48 Create route/menu config, Adjust css
  frontend/sprint/src/components/SpaceCard.tsx
  frontend/sprint/src/layouts/MenuRouter.tsx
  frontend/sprint/src/layouts/ProjectMain.tsx
  frontend/sprint/src/pages/ProjectIntro.test.tsx
  frontend/sprint/src/pages/ProjectIntro.tsx
  frontend/sprint/src/routes/menuconfig.tsx
  frontend/sprint/src/routes/routerconfig.tsx
  frontend/sprint/src/scss/ProjectIntro.scss
  frontend/sprint/src/scss/ProjectMain.scss
  frontend/sprint/src/scss/Root.scss
  frontend/sprint/src/scss/SpaceCard.scss
  frontend/sprint/src/scss/TaskDetail.scss
Labels: frontend

#58 Create test files for remain components
  frontend/sprint/src/components/TaskCard.test.tsx
  frontend/sprint/src/layouts/MenuRouter.test.tsx
Labels: frontend

#63 Implement document in taskDetail page
  frontend/sprint/package.json
  frontend/sprint/src/pages/TaskDetail.tsx
  frontend/sprint/src/scss/TaskDetail.scss
  frontend/sprint/yarn.lock
Labels: frontend

#67 Link task detail and implement random assignment
  frontend/sprint/public/index.html
  frontend/sprint/src/components/MyTasks.tsx
  frontend/sprint/src/components/Notification.tsx
  frontend/sprint/src/components/RandomRole.tsx
  frontend/sprint/src/components/TaskCard.test.tsx
  frontend/sprint/src/components/TaskCard.tsx
  frontend/sprint/src/layouts/MenuRouter.tsx
  frontend/sprint/src/pages/AddTask.tsx
  frontend/sprint/src/pages/ProjectIntro.tsx
  frontend/sprint/src/pages/TaskDetail.test.tsx
  frontend/sprint/src/pages/TaskDetail.tsx
  frontend/sprint/src/scss/ProjectIntro.scss
  frontend/sprint/src/scss/Root.scss
  frontend/sprint/src/scss/TaskCard.scss
  frontend/sprint/src/store/slices/project.ts
Labels: frontend

#69 Create Project Documents page
  frontend/sprint/src/layouts/MenuRouter.tsx
  frontend/sprint/src/pages/ProjectDocument.tsx
  frontend/sprint/src/scss/ProjectDocument.scss
  frontend/sprint/src/scss/Root.scss
Labels: frontend

#71 Create dummy project contribution page
  frontend/sprint/src/layouts/MenuRouter.tsx
  frontend/sprint/src/pages/ProjectContribution.tsx
  frontend/sprint/src/scss/ProjectContribution.scss
  frontend/sprint/src/scss/Root.scss
Labels: frontend

#73 Polish dummy data for mid-pre
  frontend/sprint/src/components/Header.tsx
  frontend/sprint/src/components/MyTasks.tsx
  frontend/sprint/src/components/Notification.tsx
  frontend/sprint/src/layouts/ProjectMain.tsx
  frontend/sprint/src/pages/AddTask.tsx
  frontend/sprint/src/pages/ProjectDocument.tsx
  frontend/sprint/src/pages/TaskDetail.tsx
  frontend/sprint/src/routes/menuconfig.tsx
  frontend/sprint/src/scss/AddTask.scss
  frontend/sprint/src/scss/ProjectContribution.scss
  frontend/sprint/src/scss/SpaceCard.scss
  frontend/sprint/src/scss/TaskDetail.scss
  frontend/sprint/src/store/slices/project.ts
  frontend/sprint/src/utils/dummy.ts
Labels: frontend

#75 Create dummy document space
  frontend/sprint/src/pages/ProjectDocument.tsx
  frontend/sprint/src/pages/ProjectIntro.tsx
  frontend/sprint/src/pages/TaskDetail.tsx
  frontend/sprint/src/scss/ProjectIntro.scss
Labels: frontend

#77 Create dummy project calendar page
  frontend/sprint/src/layouts/MenuRouter.tsx
  frontend/sprint/src/pages/AddTask.tsx
  frontend/sprint/src/pages/ProjectCalendar.tsx
  frontend/sprint/src/scss/ProjectCalendar.scss
  frontend/sprint/src/scss/Root.scss
Labels: frontend

#78 chore: add dummy data and minor changes
  frontend/sprint/src/pages/AddTask.tsx
  frontend/sprint/src/pages/NewProject.tsx
  frontend/sprint/src/utils/dummy.ts
Labels: frontend

#79 chore: calendar shows task name rather than description
  frontend/sprint/src/pages/ProjectCalendar.tsx
Labels: frontend

#84 docs: kill cache of coverage badge
  README.md
Labels: documentation

#87 chore: add zustand slice structure
  frontend/sprint/package.json
  frontend/sprint/src/store/zustand/document.ts
  frontend/sprint/src/store/zustand/documentSpace.ts
  frontend/sprint/src/store/zustand/index.tsx
  frontend/sprint/src/store/zustand/project.ts
  frontend/sprint/src/store/zustand/task.ts
  frontend/sprint/src/store/zustand/user.ts
  frontend/sprint/yarn.lock
Labels: frontend

#93 [dev-frontend-user] Create login logic, pages, and skeleton
  frontend/sprint/src/components/Header.test.tsx
  frontend/sprint/src/components/Header.tsx
  frontend/sprint/src/index.tsx
  frontend/sprint/src/layouts/PrivateRoute.tsx
  frontend/sprint/src/pages/Login.tsx
  frontend/sprint/src/pages/SignUp.tsx
  frontend/sprint/src/routes/routerconfig.tsx
  frontend/sprint/src/scss/Login.scss
  frontend/sprint/src/scss/Root.scss
  frontend/sprint/src/scss/Signup.scss
  frontend/sprint/src/services/configAxios.ts
  frontend/sprint/src/store/zustand/index.tsx
Labels: frontend

#96 dev backend hotfix
  backend/sprint/api_user/views.py
  backend/sprint/sprint/settings.py
  frontend/sprint/src/services/configAxios.ts
Labels: frontend, backend

#95 Create project manage page.
  frontend/sprint/src/layouts/MenuRouter.tsx
  frontend/sprint/src/pages/ProjectManage.tsx
  frontend/sprint/src/scss/ProjectManage.scss
  frontend/sprint/src/scss/Root.scss
Labels: frontend

#98 hotfix: project manage test, sign up page test
  frontend/sprint/package.json
  frontend/sprint/src/pages/ProjectManage.test.tsx
  frontend/sprint/src/pages/SignUp.test.tsx
  frontend/sprint/src/scss/Root.scss
Labels: frontend
